* {
    font-family: 'Segoe UI';
}

header {
    background-color: white;
}

#navbar {
    display: flex;
    justify-content: space-between;
}

body {
    background-color: aliceblue;
}

#tweetForm {
    margin-bottom: 20px;
}

.tweetCard {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

#post {
    color: white;
    text-align: center;
    border-color: rgb(5, 114, 222);
    background-color: rgb(5, 114, 222);
    border-radius: 100px;
}

#Post-your-thoughts-here {
    font-weight: 600;
}
